[Unit]
Description= Provision Manager Application
Requires=network-online.target
After=network.target multi-user.target

[Service]
WorkingDirectory=/etc/init.d/
User=root
Group=root
Type=simple
ExecStart=/bin/bash /etc/init.d/provision-manager start
ExecStop=/bin/bash /etc/init.d/provision-manager stop
PIDFile=/tmp/provision-manager.pid

TimeoutSec=180
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target