<div class="container">
  <div class="row vcenter py-4">
    <div class="col-sm-6 py-1">
      <h4 class="text-secondary">Do you want to provision your VMs?</h4>
      <h4 class="text-secondary">Don't worry ... </h4>
      <h4 class="text-secondary">We are here to take care of all the provisioning !!!</h4>
    </div>
    <div class="col-sm-6 py-1 text-center">
      <img src="http://www.maplelabs.com/assets/images/deepinsight-banner-cloud.png" class="img-fluid" />
    </div>
  </div>
</div>

<div class="container light-blue py-4">
  <div class="row vcenter">
    <div class="col-sm-2 py-1 text-center">
      <img src="https://img.icons8.com/dusk/96/000000/virtual-machine.png" class="img-fluid" />
    </div>
    <div class="col-sm-10 py-1">
      <p class="lead mb-0">Provisioner is an application where you can easily provision multiple VMs & also analyze the real-time status of it
      so that you don't have to manually configure each VM.</p>
    </div>
  </div>  
</div>

<div class="container">
  <div class="row text-center vcenter py-5">
    <div class="col-sm-12">
      <h5>Cloud Platforms that we Support</h5>
      <hr />
      <img src="http://www.maplelabs.com/assets/images/logo/amazon-webservices-icon.png" class="img-fluid p-3" />
      <img src="http://www.maplelabs.com/assets/images/logo/azure-icon.png" class="img-fluid p-3" />
      <img src="http://www.maplelabs.com/assets/images/logo/google-cloud-icon.png" class="img-fluid p-3" />
      <img src="http://www.maplelabs.com/assets/images/logo/openslack-icon.png" class="img-fluid p-3" />
    </div>
  </div>
</div>
